  .demo-icon
  {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    speak: none;   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    height: 50px;
    justify-content: center;
}

.header-items {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header-items a {
    text-decoration: none;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 7px;
    background: #404040;
    color: #fff;
}

.links-item {
    width: 80%;
    padding: 10px;
}

.links-item a {
    text-decoration: none;
    display: inline-block;
    //float:left;
    margin: 0 10px 0 5px;
    padding: 7px;
    background: #404040;
    color: #fff;
    min-width: 100px;
    text-align: center;

}

.list-music{
    list-style:none;

}

.list-music li{
    margin: 5px 0;
}

.yellow{
   background-color: #FFE9B0;
} 

.links-item p {
   font-size: 1.3em;

}

.header-icon{
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header-nav-desktop {
    display: inline-block;

}

.header-icon-mobile {
    display: none;
}

.rssbands-logo {
    background:url('../img/RSSBands.svg');
    width: 155px;
    height: 101px;
    position: fixed;
    top: 0;
    z-index: 1201;
    background-size: contain;
    left: 10%;
}

.trainingFlexboxFroggy {
    background:url('../img/training/flexbox01.svg');
    width: 80px;
    height: 60px;
    background-size: contain;
}

.trainingGridGarden {
    background:url('../img/training/grid01.svg');
    width: 60px;
    height: 58px;    
    background-size: contain;
}

.trainingCssDiner {
    background:url('../img/training/cssDiner.png');
    width: 112px;
    height: 60px;    
    background-size: contain;
}

.trainingFlexboxDefense {
    background:url('../img/training/flexbox02.png');
    width: 53px;
    height: 60px;    
    background-size: contain;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    padding-bottom: 10px;
}

.book-row {
    display: flex;
    width: 80%;
    background:white;
    border-radius: 20px;
    margin: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    margin-top: 12px;
}

.book-cover p{
    font-size: 1.2em;
}

.book-cover-icon {
    background:url('../img/books/book0.png') no-repeat;
    width: 240px;
    height: 120px;
    background-size: contain;
}

.book-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 300px;
    margin-left: 12px;
    margin-right: 12px;
    font-size: 1.2em;
    flex-grow: 1;
}

.book-cover > p{
    font-weight: bold;
}

.book-description > p:first-child {
    font-weight: bold;
}

a {
    text-decoration: none;
}

.menu-items {
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebebeb;
    padding-bottom: 20px;
}

.header-wrapper {
    width: 100%;
    height: 50px;
    background: #141414;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.title {
    border-bottom: 4px double #333;
    text-align: right;
    margin-bottom: 6px;
    line-height: 1.3;
    clear: both;
    width: 80%;
}

.menu > .title {
    margin-top: 120px;
}
.menu-item {
    position: relative;
    flex-basis: 60px;
    flex-grow: 1;
    margin: 5px;
    font-size: 14px;
    padding: 20px;
    color: #999;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.attention {
    position: relative;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 5px;
    font-size: 14px;
    padding: 20px;
    
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.attention i {
    color: #e5194c;
}

.attention p {
    font-size: 1.2em;
}
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.links a {
    color: #e5194c;
    font-size: 1.2em;
    margin: 5px;
    text-decoration: underline;
}
.menu-item:hover {
    background: rgb(247, 247, 247);
    color: #e5194c;
}

.menu-training {
    position: relative;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 5px;
    font-size: 14px;
    padding: 20px;
    color: #999;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    filter: grayscale(1);
}

.menu-training:hover {
    filter:none;
    color: #e5194c;
}

.menu-interview {
    position: relative;
    flex-basis: 200px;
    flex-grow: 1;
    margin: 5px;
    padding: 20px;
    background: #fff;   
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: start;;
    cursor: pointer;
}

.menu-interview a {
    margin-left: 7px;
    margin-top: 3px;
    font-size: 1.2em;
    margin: 5px 0;
    background-color: #ffe9b0;
}
.menu-interview span {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 1.3em;
}

.menu-interview span a{
     font-size: 1em;
}
body {
    display: block;
    margin: 0px;
}
.wip {
    filter: opacity(50%);
    position: relative;
    flex-basis: 60px;
    flex-grow: 1;
    margin: 5px;
    font-size: 14px;
    padding: 20px;
    color: #999;
    background: #fff;
    text-align: center;
    box-shadow: 0 2px 0 #e2e2e2;
    border-radius: 5px;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 40px;
    width: 100%;
    background: #141414;
}
@media screen and (max-width: 700px) {
    .rssbands-logo {
        width: 75px;
        height: 50px;
    }

    .header-icon-mobile{
        display: inline-block;
    }

    .header-nav-desktop {
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .rssbands-logo {
        display: none;

    }


}
